<header th:fragment="header">
    <nav class="navbar bg-body-tertiary d-flex justify-content-center px-3">
        <div class="container-fluid page-size-constraint p-0">
            <a class="navbar-brand mb-0 h1 title-font"
               th:href="@{/{lang}/voivodeships(lang=${lang})}"
               th:text="#{header.title}">
            </a>

            <div class="border-start border-secondary d-flex flex-column ps-3">

                <a class="navbar-text p-0"
                   th:classappend="${lang} == 'en' ? 'current-language-link' : ''"
                   th:href="${currentEnUrl}">en
                </a>

                <a class="navbar-text p-0"
                   th:classappend="${lang} == 'pl' ? 'current-language-link' : ''"
                   th:href="${currentPlUrl}">pl
                </a>

            </div>
        </div>

    </nav>
</header>
